* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul, li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
  }

.wrapper{
  overflow: hidden;
}  

.header{}

._container{
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container{}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.header__logo{
  display: flex;
}

.logo__left{
  display: flex;
}

.logo__img{
  img{
    max-width: 100%;
  }
}

.logo-line{
  padding: 0 10px;
}

.logo__right{
  display: flex;
  padding: 11px 0px;
}

.logo__right_img{
  img{
    max-width: 100%;
  }
}

.logo__right_text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #272727;
  max-width: 172px;
  padding: 0px 0px 0px 10px;
}

.header__nav{
  display: flex;
}

.burger{
  width: 35px;
  height: 35px;
  position: relative;
  display: none;
}

.burger{
  span{
    display: inline-block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
  }

  span:after{
    content: ' ';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 12px;
    background: #000;
  }

  span:before{
    content: ' ';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 24px;
    background: #000;
  }
}

.header__nav_list{
  display: block;
}

.header__nav_item{
  display: inline-block;
}

.header__nav_item{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

}

.header__nav_item:not(:last-child){
  margin-right: 40px;
}

.header__nav_linck{
  color: #272727;
}

.header__contact{
  display: flex;
  align-items: center;

}

.header__contact_phone{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #272727;
  align-items: center;
  display: flex;

}

.img__phone{
  display: none;
  max-width: 75px;
  max-height: 75px;
  img{
    max-width: 100%;
  }
}

.header_contact_meseger{
  display: flex;
}


.header_contact_meseger-whatsap{
  padding: 0 10px;
  img{
    max-width: 100%;
  }
}

.header_contact_meseger-squpe{
  img{
    max-width: 100%;
  }
}

@media (max-width: 1190px){
  .logo__right_text{
    font-size: 12px;
  }

  .header__nav_item{
    font-size: 14px;
  }

  .header__contact_phone{
    font-size: 16px;
  }
}

@media (max-width: 1060px){
  .burger{
    display: block;
    margin: 0 20px;
  }

  .header__nav_item{
    display: none;
  }

  .header__contact_phone{
    width: 117.69px;
    font-size: 12px;
  }
}

@media (max-width: 700px){
  .logo__right_img{
    display: none;
  }

  .logo__right_text{
    font-size: 10px;
  }

  .logo-line{
    display: none;
  }
}

@media (max-width: 660px){

  .header__contact_phone{
    width: 100%;
    p{
      display: none;
    }
  }
  .img__phone{
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .logo__right_text{
    display: none;
  }
}

//ПЕРВАЯ СЕКЦИЯ

.first-section{
  background: url('../img/family-bg.jpg');
}

.first-section_container{}

.first-section_container__wrapper{
  display: flex;
  flex-wrap: wrap;
}

.first-section__wrapper-left{
  flex: 0 1 50%;
}

.first-section_iner{}

.first-section_iner-text{
  display: flex;
  p{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #2A63A9;
  }
}

.first-section_iner-text__img{}

.first-section_iner-title{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #272727;

  span{
    color: #2A63A9;
  }
}

.first-section_iner-btn{
  button{
    padding: 18px 40px;
    background: linear-gradient(180deg, #2A63A9 0%, #86C4FF 0.01%, #2A63A9 6.77%, #00C2FF 84.37%, #40D1FF 100%);
    box-shadow: 0px 5px 10px #04B8F7;
    border-radius: 100px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

.first-section_iner-btn_text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #272727;
  opacity: 0.5;
}

.first-section_content{
  display: flex;
}

.first-section_content-colum{}

.first-section_content__blok{}

.first-section_content__blok-img{}

.first-section_content__blok-text{}

.first-section__wrapper-right{}

